.icon-add{padding-left:18px;background:url(images/add.gif) no-repeat 0px 50%;}
.icon-addfolder{padding-left:18px;background:url(images/addfolder.gif) no-repeat 0px 50%;}
.icon-addnew{padding-left:18px;background:url(images/addnew.gif) no-repeat 0px 50%;}
.icon-cancel{padding-left:18px;background:url(images/cancel.gif) no-repeat 0px 50%;}
.icon-collapse{padding-left:18px;background:url(images/collapse.gif) no-repeat 0px 50%;}
.icon-cut{padding-left:18px;background:url(images/cut.gif) no-repeat 0px 50%;}
.icon-date{padding-left:18px;background:url(images/date.gif) no-repeat 0px 50%;}
.icon-downgrade{padding-left:18px;background:url(images/downgrade.gif) no-repeat 0px 50%;}
.icon-download{padding-left:18px;background:url(images/download.gif) no-repeat 0px 50%;}
.icon-edit{padding-left:18px;background:url(images/edit.gif) no-repeat 0px 50%;}
.icon-expand{padding-left:18px;background:url(images/expand.gif) no-repeat 0px 50%;}
.icon-filter{padding-left:18px;background:url(images/filter.gif) no-repeat 0px 50%;}
.icon-find{padding-left:18px;background:url(images/find.gif) no-repeat 0px 50%;}
.icon-folder{padding-left:18px;background:url(images/folder.gif) no-repeat 0px 50%;}
.icon-folder-open{padding-left:18px;background:url(images/folder-open.gif) no-repeat 0px 50%;}
.icon-goto{padding-left:18px;background:url(images/goto.gif) no-repeat 0px 50%;}
.icon-help{padding-left:18px;background:url(images/help.gif) no-repeat 0px 50%;}
.icon-lock{padding-left:18px;background:url(images/lock.gif) no-repeat 0px 50%;}
.icon-new{padding-left:18px;background:url(images/new.gif) no-repeat 0px 50%;}
.icon-no{padding-left:18px;background:url(images/no.gif) no-repeat 0px 50%;}
.icon-node{padding-left:18px;background:url(images/node.png) no-repeat 0px 50%;}
.icon-noimage{padding-left:18px;background:url(images/noimage.gif) no-repeat 0px 50%;}
.icon-ok{padding-left:18px;background:url(images/ok.gif) no-repeat 0px 50%;}
.icon-open{padding-left:18px;background:url(images/open.gif) no-repeat 0px 50%;}
.icon-print{padding-left:18px;background:url(images/print.gif) no-repeat 0px 50%;}
.icon-redo{padding-left:18px;background:url(images/redo.gif) no-repeat 0px 50%;}
.icon-reload{padding-left:18px;background:url(images/reload.gif) no-repeat 0px 50%;}
.icon-remove{padding-left:18px;background:url(images/remove.gif) no-repeat 0px 50%;}
.icon-save{padding-left:18px;background:url(images/save.gif) no-repeat 0px 50%;}
.icon-search{padding-left:18px;background:url(images/search.gif) no-repeat 0px 50%;}
.icon-sort{padding-left:18px;background:url(images/sort.gif) no-repeat 0px 50%;}
.icon-split{padding-left:18px;background:url(images/split.gif) no-repeat 0px 50%;}
.icon-tip{padding-left:18px;background:url(images/tip.gif) no-repeat 0px 50%;}
.icon-undo{padding-left:18px;background:url(images/undo.gif) no-repeat 0px 50%;}
.icon-unlock{padding-left:18px;background:url(images/unlock.gif) no-repeat 0px 50%;}
.icon-upgrade{padding-left:18px;background:url(images/upgrade.gif) no-repeat 0px 50%;}
.icon-upload{padding-left:18px;background:url(images/upload.gif) no-repeat 0px 50%;}
.icon-user{padding-left:18px;background:url(images/user.png) no-repeat 0px 50%;}
.icon-warning{padding-left:18px;background:url(images/warning.gif) no-repeat 0px 50%;}
.icon-zoomin{padding-left:18px;background:url(images/zoomin.gif) no-repeat 0px 50%;}
.icon-zoomout{padding-left:18px;background:url(images/zoomout.gif) no-repeat 0px 50%;}